<p id="notice"><%= notice %></p>
<div class="text-center">
  <%= link_to 'Edit', edit_script_path(@script) %> |
  <%= link_to 'Erase everything !', @script, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<div class="row">
  <div class="col-md-7">
      <h2>You gave me:</h2><br>
    <pre>
      <%= @script.script %>
    </pre>
  </div>

  <div class="col-md-5">
      <h2>I understood:</h2><br>

      <% if @parsed_script.is_a?(String) %>
          <%= @parsed_script %>
      <% else %>

        <table class="table table-responsive">
          <thead>
          <th>Course</th>
          <th>Type</th>
          <th>Day</th>
          <th>Start hour</th>
          <th>End hour</th>
          <th>Frequency</th>
          <th>Classroom</th>
          </thead>
          <tbody>
          <% @parsed_script.each do |p| %>
              <tr>
                <td><%= p["course"] %></td>
                <td><%= p["type"] %></td>
                <td><%= Date::DAYNAMES[(p["day"]+1)%7] %></td>
                <td><%= p["st_hour"] %></td>
                <td><%= p["end_hour"] %></td>
                <td><%= p["frequency"] %></td>
                <td><%= p["classroom"] %></td>
              </tr>
          <% end %>
          </tbody>

        </table>

    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12 col-lg-8 col-lg-offset-2">
    <div class="text-center">
      <div id="pdfbutton" class="btn btn-default">
        <span id="calendar_btn_pdf" class=""><input type="hidden" id="zz_pdf" value="" />To PDF</span>
      </div>
      <div id="icsbutton" class="btn btn-default">
        <span id="calendar_btn_ics" class=""><%= link_to 'Export ICS', action: 'export' %></span>
      </div>
    </div><br>
    <div id='calendar-container'>
      <div id='calendar' style="width: 100%;  background-color: #ffffff; border: 1px solid black;"></div>
    </div>
  </div>
</div>


<script>
    $(document).ready(function() {

        // page is now ready, initialize the calendar...
        courses = <%= @courses.to_json.html_safe %>;
        colors = {};
        <% @courses.each do |c| %>
            colors["<%= c %>"] = randomColor({luminosity: 'dark'});
        <% end %>

        $('#calendar').fullCalendar({
            defaultView: 'agendaWeek',
            minTime: '8:00:00',
            maxTime: '20:00:00',
            allDaySlot: false,
            contentHeight: 'auto',
            hiddenDays: [0],
            columnFormat: 'dddd',
            events: [
            <% unless @parsed_script.is_a?(String) %>
                    <% @parsed_script.each do |p| %>
                {
                    title: "<%= p["course"] + " - " + p["type"] %>",
                    start: "<%= (Date.today.monday.to_datetime + p["day"]).change(hour: p["st_hour"][0..1].to_i, min: p["st_hour"][3..4].to_i).to_s %>",
                    end: "<%= (Date.today.monday.to_datetime + p["day"]).change(hour: p["end_hour"][0..1].to_i, min: p["end_hour"][3..4].to_i).to_s %>",
                    backgroundColor: colors["<%= p["course"] %>"]
                }<% unless p == @parsed_script.last %>,<% end %>

                    <% end %>
            <% end %>

            ]
        })

        $('.fc-toolbar').remove();

        $("#pdfbutton").click(function () {
            html2canvas($('#calendar-container'), {
                logging: true,
                useCORS: true,
                background: "#ffffff",
                onrendered: function (canvas) {
                    var imgData = canvas.toDataURL("image/jpeg", 1.0);
                    var doc = new jsPDF("landscape");
                    doc.addImage(imgData, 'JPEG', 10, 10, 280, 190);
                    download(doc.output(), "edt.pdf", "text/pdf");
                }
            }) ;
        }); // $("#calendar_btn_pdf").click(function ()

        function download(strData, strFileName, strMimeType) {
            var D = document,
                    A = arguments,
                    a = D.createElement("a"),
                    d = A[0],
                    n = A[1],
                    t = A[2] || "text/plain";

            //build download link:
            a.href = "data:" + strMimeType + "," + escape(strData);

            if (window.MSBlobBuilder) {
                var bb = new MSBlobBuilder();
                bb.append(strData);
                return navigator.msSaveBlob(bb, strFileName);
            } /* end if(window.MSBlobBuilder) */

            if ('download' in a) {
                a.setAttribute("download", n);
                a.innerHTML = "downloading...";
                D.body.appendChild(a);
                setTimeout(function() {
                    var e = D.createEvent("MouseEvents");
                    e.initMouseEvent("click", true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                    a.dispatchEvent(e);
                    D.body.removeChild(a);
                }, 66);
                return true;
            } /* end if('download' in a) */

            //do iframe dataURL download:
            var f = D.createElement("iframe");
            D.body.appendChild(f);
            f.src = "data:" + (A[2] ? A[2] : "application/octet-stream") + (window.btoa ? ";base64" : "") + "," + (window.btoa ? window.btoa : escape)(strData);
            setTimeout(function() {
                D.body.removeChild(f);
            }, 333);
            return true;
        } /* end download() */

    });
</script>

