<%= javascript_include_tag params[:controller] %>
<script>
    courses = <%= @courses.to_json.html_safe %>;
    courses_events = <%= @courses_events %>;
</script>

<div class="row">
  <div class="text-center">
    <%= link_to 'Edit', edit_script_path(@script), class: 'btn btn-default' %>
    <%= link_to 'Erase everything !', @script, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
  </div>
</div>
<hr/>
<div class="row">
  <div class="text-center">
    <h1><%= fa_icon "database" %> Data <%= fa_icon "database" %></h1>
  </div>
  <div class="col-md-5">
    <pre>
      <%= @script.script %>
    </pre>
  </div>

  <div class="col-md-2 text-center">
    <%= fa_icon 'arrow-right', class: 'fa-5x' %>
  </div>

  <div class="col-md-5">
    <% if @parsed_script.is_a?(String) %>
        <%= @parsed_script %>
    <% else %>

        <table class="table table-responsive">
          <thead>
          <th>Course</th>
          <th>Type</th>
          <th>Day</th>
          <th>Start hour</th>
          <th>End hour</th>
          <th>Frequency</th>
          <th>Classroom</th>
          </thead>
          <tbody>
          <% @parsed_script.each do |p| %>
              <tr>
                <td><%= p["course"] %></td>
                <td><%= p["type"] %></td>
                <td><%= Date::DAYNAMES[(p["day"]+1)%7] %></td>
                <td><%= p["st_hour"] %></td>
                <td><%= p["end_hour"] %></td>
                <td><%= p["frequency"] %></td>
                <td><%= p["classroom"] %></td>
              </tr>
          <% end %>
          </tbody>

        </table>

    <% end %>
  </div>
</div>

<hr/>

<div class="row text-center">
  <%= fa_icon 'arrow-down', class: 'fa-5x' %>
</div>
<div class="text-center">
  <h1><%= fa_icon "table" %> Timetable <%= fa_icon "table" %></h1>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12 col-lg-8 col-lg-offset-2">
    <div class="text-center">
      <div id="pngbutton" class="btn btn-default">
        <span id="calendar_btn_png" class=""><input type="hidden" id="zz_png" value="" />To PNG</span>
      </div>
      <div id="pdfbutton" class="btn btn-default">
        <span id="calendar_btn_pdf" class=""><input type="hidden" id="zz_pdf" value="" />To PDF</span>
      </div>
      <div id="icsbutton" class="btn btn-default">
        <span id="calendar_btn_ics" class=""><%= link_to 'Export ICS', { action: 'export' }, { style: 'color: black;' } %></span>
      </div>
    </div><br>
    <div class="form-group form-inline clearfix">
      <div class="pull-left">
        <input id="selected_color" class="form-control" style="width: 150px"></input>
      </div>
      <span class="alert alert-info pull-right"><%= fa_icon 'info-circle' %> Select a color on the left and click on an event to change its colors</span>
    </div>
    <div id='calendar-container'>
      <div id='calendar' style="width: 100%;  background-color: #ffffff; border: 1px solid black;"></div>
    </div>
  </div>
</div>

