<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @event.course %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @event.frequency %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @event.classroom %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
